ul{
	list-style-image: url(list.png);
}
body {
    background-image: url(fit.jpg);
    background-size: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
}
#img1 {
    float: left;
    width: 300px;
    height: 300px;
}
#img2 {
    float: right;
    width: 300px;
    height: 300px;
}

body h1 {
    text-align: center;
}
#p1 {
    color: #8B0000;
    font-family: Consolas;
}
#p2 {
    color: #006400;
    font-size: 1.3em;
    font-family: 'Times New Roman';
}
#p3 {
    color: #00008B;
    font-size: 1.6em;
    font-family: 'Comic Sans MS';
}
table {
    border: 2px solid;
    border-collapse: collapse;
}
tr td, tr th {
    border: 1px solid;
}
