div {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.R {
    border: 5px outset rgb(255, 0, 0);
}
.G {
    border: 5px dashed rgb(0, 255, 0);
}
.B {
    border: 5px dotted rgb(0, 0, 255);
}
.C {
    border: 5px double rgb(0, 255, 255);
}
.M {
    border: 5px ridge rgb(255, 0, 255);
}
.Y {
    border: 5px inset rgb(255, 255, 0);
}
.K {
    border: 5px solid rgb(0, 0, 0);
}
span {
    display: block;
    padding: 5px;
    margin 5px;
    background: #FFA500;
    border: solid #ff4500;
}
#p1 {
    border: solid #ff7f50;
    width: 400px;
    margin: auto;
}
#p2 {
    border: 5px solid rgb(255, 0, 0);
    border-radius: 40px/20px;
    box-shadow:inset 2px 2px 8px 8px rgba(0,0,0,.5);
    overflow: auto;
}
#p3 {
    border: solid #ff6347;
}